<header>
    <div id="video-overlay"></div>
    <video src="/reversed.mp4" id="background-video" autoplay loop muted />
    <div class="container">
        <h1 class="h1 text-white text-align-center">
            Kupuj wysokiej jakości produkty azbestowe online już dziś
        </h1>
        <p class="text-white text-align-center">
            Odkryj naszą ofertę najwyższej jakości produktów azbestowych. Bezpieczny, trwały i odpowiedni dla wszystkich Twoich potrzeb budowlanych.
        </p>
    </div>
</header>